include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/s3_exporter *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/s3_exporter/migration *.ini *.py *.mako
